/* Reset CSS */
:root {
    --green-light: #77b41c;
    --green-dark: rgb(93 137 100);
}


*{
    /* Cach viet Emmet go nhanh hon */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

/* Common */
.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-8 {
    margin-top: 8px;
}

.mlr-42 {
    margin-left: 42px;
    margin-right: 42px;
}

.mr-16 {
    margin-right: 16px;
}

.text-center {
    text-align: center;
}

.container {
    width: 590px;
    height: 642px;
    margin: auto;
    background: url(../img/background.jpeg) center no-repeat;
    color: white;
    position: relative;
    top: 10px;
    z-index: 1;
    /* background-color: rgba(20, 41, 46, 0.5); */
}

.container::before {
    background-color: rgb(20, 40, 45, 0.9);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.block-top {
    width: 100%;
    height: 44px;
    background-color: rgba(32, 51, 65, 0.8);
}
.title {
    font-size: 18px;
}

.map {
    font-size: 12px;
    font-weight: 100;
    opacity: 0.8;
}

.map ul li {
    display: inline-block;
}

.map ul li:last-child {
    color: var(--green-dark);
    font-weight: bold;
}

.map ul i {
    font-size: 8px;
    color: var(--green-dark);
    font-weight: bold;
}

.process {
    border-top: solid 2px var(--green-dark);
    height: 2px;
    display: flex;
    justify-content: space-between;
}

.process__item {
    position: relative;
    top: -12px;
    border: solid 2px var(--green-dark);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #20463b;
    border-radius: 50%;
    color: var(--green-dark);
    text-align: center;
    font-size: 15px;
}

.process--active {
    border-color: var(--green-light);
    background-color: var(--green-light);
    color: white;
}

/* Content */
.content {
    height: 420px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.name-account-trans {
    padding-top: 40px;
    padding-bottom: 32px;
}

.icon-success {
    font-size: 32px;
    color: var(--green-light);
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 1px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.status-trans {
    font-size: 12px;
    margin-bottom: 6px;
}

.money-trans {
    color: var(--green-light);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.time-trans {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.7;
    margin-bottom: 32px;
}

.info-item {
    display: flex;
    font-size: 12px;
    font-weight: lighter;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.1);
    padding: 14px 0;
}

.info-trans .info-item:last-child {
    border-bottom: none;
}

.info-item__left {
    opacity: 0.7;
}

.info-item__right {

}

/* Button */
.area-button {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.btn {
    min-width: 170px;
    line-height: 2.2;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 0 16px;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.btn--print {
    background-color: rgba(255,255,255,0.1);
}

.btn--new-transaction {
    background-image: linear-gradient(to right, var(--green-light), #0e7d37);
}